header {
  background: #ffffff !important;
}

.lockImg {
  max-width: 40px;
  margin-bottom: 5px;
}

.linkName {
  text-transform: capitalize;
}

.lessMarginTop {
  margin-top: -50px;
}

.pagination {
  text-align: center;
}

.gutter-row {
  margin-bottom: 30px;
}

.footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  z-index: 0;
}

.mainLayout {
  min-height: 100vh !important;
}

.ant-form-item-control-input {
  max-width: 300px !important;
  left: 50%;
  transform: translateX(-50%);
}

.alertObject {
  max-width: 1200px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.ant-badge-count {
  background: #1890ff !important;
  font-size: 100px !important;
}

.ant-badge-count p {
  font-size: 13px;
}

.ant-card-meta-avatar {
  float: right !important;
  font-size: 12.5px;
  font-weight: bold;
}

.popoverListFooter {
  font-weight: 500;
}

.ant-popover {
  width: 250px;
}

.actionButton {
  transition: color 0.2s;
}

.actionButton:hover {
  color: #1890ff !important;
}

.mb-2 {
  margin-bottom: 2px;
}

.divider {
  width: 100%;
  display: block;
  height: 30px;
}

.productImageInUpdate {
  position: absolute;
  right: 100px;
}

.maxHeightForImage {
  max-height: 200px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.ant-layout-sider {
  background: white !important;
}

.grey-text {
  color: grey;
}
