.mynotify {
  position: absolute;
  display: flex;
  right: 100px;
  z-index: 100;
  top: 95px;
}

@media screen and (max-width: 800px) {
  .mynotify {
    right: 5px;
  }
}

.godown {
  margin-bottom: 25px;
}

.preloader-wrapper {
  position: absolute;
  top: 45%;
  left: 50%;
  z-index: 10000;
}

.preloaderBackground {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.376);
  z-index: 1;
}
